.container {
    margin-top: 40px;
}

form #mensagem,
.form-control {
    width: 420px;
}

form textarea {
    resize: none;
    height: 160px;
}

.button {
    padding-top: 10px;
}

h2 {
    text-align: center;
    padding-bottom: 10px;
}




