*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

header, 
h1 {
    text-align: center;
    padding: 15px;
}

body {
    background-color: rgb(224, 224, 224);
    
}

form {
    text-align: center;
}

input,
button {
    padding: 6px;
    font-family: Roboto, sans-serif;
    font-size: 22px;
    
}

button {
    cursor: pointer;
    font-weight: bold;
}

.lista-tarefas {
    padding-top: 20px;
    text-align: center;
}

.riscar {
    text-decoration: line-through;
}

.lista-tarefas li {
    cursor: pointer;
}