* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1 {
    background-color: #971164;
    padding: 26px 0;
    text-align: center;
    color: #ffffff;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    background-color: #ffdafd;
}

header {
    background-color: #ffffff;
    
}

button {
    display: block;
    width: 100%;
    border: none;
    padding: 8px 0;
    background-color: #971164;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo label {
    font-weight: bold;
    display: block;
}

.form-campo input,
.form-campo textarea {
    width: 100%;
    display: block;
    padding: 8px;
}

.form-campo textarea {
    resize: none;
    height: 120px;
}

form {
    padding: 20px;
    max-width: 360px;
    margin: 0 auto;
}

form button {
    max-width: 120px;
}

